.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{
  display: flex;
  width: 100%;
}

.roomList{
  order: 1;
  flex: 1;
  background-color: green;
  flex-basis: auto;
  padding: 1rem;
  min-height: 600px;
}

.messageList{
  order: 1;
  flex: 5;
  background-color: white;
  padding: 1rem;
}

